
@font-face {
font-family: 'Minion Pro';
font-style: normal;
font-weight: normal;
src: local('Minion Pro Regular'), url('/assets/fonts/minion_pro/MinionPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Minion Pro';
font-style: italic;
font-weight: normal;
src: local('Minion Pro Italic'), url('/assets/fonts/minion_pro/MinionPro-It.woff') format('woff');
}


@font-face {
font-family: 'Minion Pro';
font-style: normal;
font-weight: 500;
src: local('Minion Pro Medium'), url('/assets/fonts/minion_pro/MinionPro-Medium.woff') format('woff');
}


@font-face {
font-family: 'Minion Pro';
font-style: italic;
font-weight: 500;
src: local('Minion Pro Medium Italic'), url('/assets/fonts/minion_pro/MinionPro-MediumIt.woff') format('woff');
}


@font-face {
font-family: 'Minion Pro';
font-style: normal;
font-weight: 600;
src: local('Minion Pro Semibold'), url('/assets/fonts/minion_pro/MinionPro-Semibold.woff') format('woff');
}


@font-face {
font-family: 'Minion Pro';
font-style: italic;
font-weight: 600;
src: local('Minion Pro Semibold Italic'), url('/assets/fonts/minion_pro/MinionPro-SemiboldIt.woff') format('woff');
}



@font-face {
font-family: 'Minion Pro';
font-style: normal;
font-weight: bold;
src: local('Minion Pro Bold'), url('/assets/fonts/minion_pro/MinionPro-Bold.woff') format('woff');
}




@font-face {
font-family: 'Minion Pro Bold Italic';
font-style: italic;
font-weight: bold;
src: local('Minion Pro Bold Italic'), url('/assets/fonts/minion_pro/MinionPro-BoldIt.woff') format('woff');
}